* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background: rgb(140,136,11);
    background: linear-gradient(132deg, rgba(140,136,11,1) 0%, rgba(96,97,5,1) 36%, rgba(0,0,0,1) 100%);
    font-family: 'Montserrat', sans-serif;
}

.up {
    text-transform: uppercase;
}

/* Styling aside */

aside {
    float: left;
    width: 15vw;
    height: calc( 100vh - 100px);
    background-color: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    color: rgb(179, 179, 179);
}

aside img {
    width: 100%;
}

aside li {
    padding: 5px 0;
}

aside p, aside span {
    font-size: 14px;
}

.top-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-aside ul {
    list-style-type: none;
    padding-top: 20px;
}

.top-aside li a, .bottom-aside p a {
    font-size: 18px;
    color: rgb(179, 179, 179);
    padding: 10px 0;
    margin: 10px 0;
    text-decoration: none;
}

.top-aside li {
    position: relative;
}

.top-aside li a:hover, .bottom-aside p a:hover {
    color: white;
}

.top-aside li a:hover::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    background-color: green;
    left: -10px;
    top: 0;
    display: none;
}

.bottom-aside p {
    margin: 10px 0;
}

.top-aside span, .bottom-aside span {
    display: none;
}

.recent {
    margin-top: 20px;
    display: none;
}

#logo-full {
    display: none;
    width: 150px;
}

#icon {
    width: 40px;
}

.bottom-aside {
    text-align: center;
}

/* Styling main */

main {
    float: left;
    width: 85vw;
    height: calc( 100vh - 100px);
    overflow-y: scroll;
}

.container>i {
    padding: 15px 10px 0 10px;
    font-size: 35px;
}

.container>p {
    font-size: 35px;
    color: white;
}

.menu {
    text-align: center;
}

.menu ul, .menu li {
    display: none;
}

.menu a {
    color: rgb(179, 179, 179);
    text-decoration: none;
    padding: 10px;
    position: relative;
}

.menu a:hover {
    color: white;
}

.menu a:hover::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: green;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.disc-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.disc-wrapper img {
    width: 100px;
    height: 100px;
    box-shadow: 1px 1px 10px black;
}

.artist {
    padding: 10px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.artist p {
    font-size: 12px;
    margin-top: 5px;
}

.img-rounded {
    border-radius: 50%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container>p {
    padding-left: 20px;
    font-weight: bold;
}

/* Styling footer */

footer {
    float: left;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 40, 40);
    color: rgb(179, 179, 179);
}

footer>div, footer>div>div {
    padding: 0 15px;
}

footer img {
    width: 50px;
    height: auto;
    object-fit: contain;
}

.footer-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-left p {
    display: none;
    font-size: 12px;
    margin-right: 15px;
    font-weight: bold;
    color: white;
}

.footer-left span {
    font-weight: 500;
    color: rgb(179, 179, 179);
}

#fc-top, #fc-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#fc-top i:nth-of-type(3) {
    font-size: 30px;
}

.linea {
    height: 3px;
    background-color: grey;
    border-radius: 10px;
    position: relative;
}

#linea1 {
    width: 200px;
    margin-top: 20px;
}

#linea2 {
    width: 100px;
}

.linea i {
    position: absolute;
    color: white;
    top: 50%;
    left: 40%;
    transform: translateY(-50%);
}

.footer-right>i {
    padding: 0 10px;
}

.footer-right {
    display: none;
}

/* Media queries */

@media (min-width:568px) {

    .disc-wrapper img {
        width: 200px;
        height: 200px;
    }

    .artist {
        padding: 20px 20px;
    }

    .artist p {
        font-size: 20px;
        margin-top: 10px;
    }
}

@media (min-width:768px) {

    aside {
        width: 23vw
    }

    main {
        width: 77vw;
    }

    footer {
        justify-content: space-between;
    }

    .top-aside {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .top-aside span, .bottom-aside span {
        display: inline;
        padding-left: 10px;
    }

    .recent {
        display: block;
    }

    .bottom-aside {
        text-align: left;
    }

    #logo-full {
        display: inline-block;
    }

    #icon {
        display: none;
    }

    .container>p {
        margin-top: 20px;
    }

    .disc-wrapper {
        justify-content: flex-start;
    }

    #linea1 {
        width: 500px;
    }

    .top-aside li a:hover::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 3px;
        background-color: green;
        left: -10px;
        top: 0;
        display: block;
    }
}

@media (min-width:992px) {

    .footer-right {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-left p {
        display: block;
    }
}
@media (min-width:1200px) {

    .container {
        width: 85%;
        margin: auto;
    }

    .menu {
        padding-top: 30px;
    }

    .menu ul, .menu li {
        display: inline-block;
    }

    .hamb {
        display: none;
    }

    aside {
        width: 15vw
    }

    main {
        width: 85vw;
    }
}
