* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background: rgb(140,136,11);
    background: linear-gradient(132deg, rgba(140,136,11,1) 0%, rgba(96,97,5,1) 36%, rgba(0,0,0,1) 100%);
    font-family: 'Open Sans', sans-serif;
}

.up {
    text-transform: uppercase;
}

/* Styling aside */

aside {
    float: left;
    width: 15vw;
    height: calc( 100vh - 100px);
    background-color: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    color: rgb(179, 179, 179);
}

aside img {
    width: 100%;
}

aside li {
    padding: 5px 0;
}

.top-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-aside ul {
    list-style-type: none;
    padding-top: 20px;
}


.top-aside li a, .bottom-aside p {
    font-size: 18px;
    color: rgb(179, 179, 179);
    padding: 10px;
}

.top-aside span, .bottom-aside span {
    display: none;
}

.recent {
    margin-top: 20px;
    display: none;
}

#logo-full {
    display: none;
    width: 150px;
}

#icon {
    width: 40px;
}

.bottom-aside {
    text-align: center;
}

/* Styling main */

main {
    float: left;
    width: 85vw;
    height: calc( 100vh - 100px);
    overflow-y: scroll;
}

.container>i {
    padding: 15px 10px 0 10px;
    font-size: 35px;
}

.container>p {
    font-size: 35px;
    color: white;
}

.menu {
    text-align: center;
}

.menu ul, .menu li {
    display: none;
}

.menu a {
    color: rgb(179, 179, 179);
    text-decoration: none;
    padding: 10px
}

.disc-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.disc-wrapper img {
    width: 100px;
    height: 100px;
    box-shadow: 1px 1px 10px black;
}

.artist {
    padding: 10px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.artist p {
    font-size: 12px;
    margin-top: 5px;
}

.img-rounded {
    border-radius: 50%;
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container>p {
    padding-left: 20px;
    font-weight: bold;
}

footer {
    float: left;
    width: 100vw;
    height: 100px;
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer>div {
    padding: 0 10px;
}

.footer-right {
    display: none;
}

@media (min-width:568px) {

    .disc-wrapper img {
        width: 200px;
        height: 200px;
    }

    .artist {
        padding: 20px 20px;
    }

    .artist p {
        font-size: 20px;
        margin-top: 10px;
    }
}
@media (min-width:768px) {

    aside {
        width: 23vw
    }

    main {
        width: 77vw;
    }

    .top-aside {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .top-aside span, .bottom-aside span {
        display: inline;
        padding-left: 10px;
    }

    .recent {
        display: block;
    }

    .bottom-aside {
        text-align: left;
    }

    #logo-full {
        display: inline-block;
    }

    #icon {
        display: none;
    }

    .container>p {
        margin-top: 20px;
    }

    .footer-right {
        display: block;
    }

    .disc-wrapper {
        justify-content: flex-start;
    }
}


@media (min-width:1200px) {

    .container {
        width: 85%;
        margin: auto;
    }

    .menu {
        padding-top: 30px;
    }
    
    .menu ul, .menu li {
        display: inline-block;
    }

    .hamb {
        display: none;
    }

    aside {
        width: 15vw
    }

    main {
        width: 85vw;
    }
}
